{% extends "index.html" %}
{% block title_tag %}Edit Homework{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block css_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'instructor/faculty_styles.css' %}">

    <link href="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>

{% endblock %}
{% block body_content %}
    <div id="name">
        <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
        <hr size="3">
    </div>

    <div id="container">
        <div id="topNav">
            
            <ul>
                <li><a href="{% url 'instructor:instructor' %}">Home</a></li>
                <li><a href="#" class="active">Edit Homework</a></li>
                <li><a href="#">Edit Grade</a></li>

            </ul>
        </div>
        <div id="sideNav">
            <h3 style="margin: 0; color: black; text-align: center; background-color: lightgray;">Courses:</h3>
            <ul>
                {% for course in courses %}
                    <li><a href="{% url 'instructor:course_detail' %}">{{ course.class_name }}</a></li>
                {% endfor %} 
            </ul>

        </div>
        <div id="info" style="padding-top:15px; color: black;">
                Upload PDF File(s):<br>
        
            <form action="">
                <input type="text" name="hwName" placeholder="Homework Name" required>
                <br>
                <label for="duedate">Due Date:</label>
                <input type="date" id="duedate" name="duedate">
                <input type="text" id="duetime" placeholder="Time">
                <br>
                <input type="file" name="upload" accept="application/pdf" required>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>
    <div id="footer">
        Copyright &copy; drawHW 2020
    </div> 

    <script src="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
    <script>
        var timepicker = new TimePicker('duetime', {
            lang: 'en',
            theme: 'dark'
        });
        timepicker.on('change', function(evt) {
        
            var value = (evt.hour || '00') + ':' + (evt.minute || '00');
            evt.element.value = value;

        });
    </script>

{% endblock %}
