{% extends "index.html" %}
{% block title_tag %}Login{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block css_tag %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">{% endblock %}

{% block body_content %}
<body>
    </p>
    <div id="main">
        <div id="name">
            <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
            <hr size="3">
        </div>
        <h1>All done!</h1>
    
        <p>Your new password has been set! You should be all set to <a href="{% url 'accounts:login' %}">log in</a>.

        <div id="footer">
            Copyright &copy; drawHW 2020
        </div> 
    </div>
</body>
{% endblock %}
